<!-- templates/includes/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Социальная сеть</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Уведомления
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.notifications.exists %}
                        {% for notification in user.notifications.all %}
                        <a class="dropdown-item" href="{% url 'notifications' %}">
                            <p>{{ notification.message }}</p>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p class="dropdown-item">Нет новых уведомлений</p>
                    {% endif %}
                </div>
            </li>
            
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
