<!-- notifications.html -->
{% extends "base.html" %}

{% block content %}
<h2>Уведомления</h2>
<ul>
    {% for notification in notifications %}
        <li>
            {{ notification.message }} - {{ notification.created_at }}
            {% if notification.friend_request %}
                <a href="{% url 'accept_friend_request' notification.friend_request.id %}">Принять</a>
                <a href="{% url 'decline_friend_request' notification.friend_request.id %}">Отклонить</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
