{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-title">Профиль пользователя {{ user.username }}</h1>
    <div class="profile-info">
        <img class="profile-photo" src="{{ user.photo.url }}" alt="Фото профиля">
        <div class="profile-details">
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
            <p><strong>Дата рождения:</strong> {{ user.birth_date }}</p>
            <p><strong>Биография:</strong> {{ user.bio }}</p>
            <p><strong>Электронная почта:</strong> {{ user.email }}</p>
        </div>
    </div>
    
    <div class="profile-buttons">
        <a class="btn" href="{% url 'change_password' %}"><i class="fas fa-lock"></i> Безопасность</a>
        <a class="btn" href="{% url 'edit_profile' %}"><i class="fas fa-edit"></i> Редактировать аккаунт</a>
    </div>

    <div class="profile-buttons connected-buttons">
        <a class="btn" href="?section=my_posts">Мои посты</a>
        <a class="btn" href="?section=saved_posts">Сохраненные посты</a>
        <a class="btn" href="?section=liked_posts">Понравившиеся посты</a>
    </div>

    <div class="posts-section">
        {% if section == 'my_posts' %}
            <h2>Мои посты</h2>
            <ul class="posts-list">
                {% for post in my_posts %}
                    <li class="post-item">{{ post.text }}</li>
                {% endfor %}
            </ul>
        {% elif section == 'saved_posts' %}
            <h2>Сохраненные посты</h2>
            <ul class="posts-list">
                {% for post in saved_posts %}
                    <li class="post-item">{{ post.text }}</li>
                {% endfor %}
            </ul>
        {% elif section == 'liked_posts' %}
            <h2>Понравившиеся посты</h2>
            <ul class="posts-list">
                {% for post in liked_posts %}
                    <li class="post-item">{{ post.text }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
